<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Item</title>
    <style>
        form {
            margin: 20px;
        }

        .hidden {
            display: none;
        }

        .error {
            color: red;
        }

        .card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            display: inline-block;
            cursor: pointer;
        }

        .card img {
            width: 100%;
            height: auto;
        }

        #videoPlayer {
            display: none;
            margin-top: 20px;
        }

        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            z-index: 9999;
        }
    </style>
</head>

<body>
    <h1>Adicionar Item</h1>
    <button id="toggleForm">Mostrar Formulário</button>
    <form action="/adicionar" method="post" id="formulario" class="hidden" onsubmit="return validateForm()">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome"><br>
        <span id="nomeError" class="error"></span><br>
        <label for="url">URL do vídeo:</label><br>
        <input type="text" id="url" name="url"><br>
        <span id="urlError" class="error"></span><br>
        <label for="miniatura">Link da Miniatura:</label><br>
        <input type="text" id="miniatura" name="miniatura"><br>
        <span id="miniaturaError" class="error"></span><br><br>
        <button type="submit">Adicionar</button>
    </form>

    <div id="videoPlayer">
        <video controls autoplay id="videoElement" style="max-width: 100%;"></video>

        <!-- Exibir loops de tempo -->
        <% items.forEach(function(item) { %>
            <div id="timeLoops">
                <% item.loops.forEach(function(loop) { %>
                    <div onclick="toggleTimeLoop('<%= loop.inicio %>', '<%= loop.fim %>')">Tempo de Início: <%=
                            loop.inicio %>, Tempo de Fim: <%= loop.fim %>
                    </div>
                    <% }); %>
            </div>
            <% }); %>

                <!-- Botão para voltar ao modo de reprodução normal -->
                <button onclick="stopLoop()">Voltar ao Normal</button>
    </div>

    <h1>Itens</h1>

    <div id="cardsContainer">
        <% items.forEach(function(item, index) { %>
            <div class="card" onclick="playVideo('<%= item.url %>')">
                <h2>
                    <%= item.nome %>
                </h2>
                <img src="<%= item.miniatura %>" alt="<%= item.nome %>">
                <button
                    onclick="editItem('<%= item._id %>', '<%= item.nome %>', '<%= item.url %>', '<%= item.miniatura %>')">Editar</button>

                <!-- Botão para adicionar loop de tempo -->

                <button onclick="deleteItem('<%= item._id %>')">Deletar</button>
                <button onclick="addTimeLoop('<%= item._id %>')">Adicionar Loop de Tempo</button>
            </div>
            <% }); %>
    </div>

    <div id="editPopup" class="popup">
        <!-- Formulário de edição -->
    </div>

    <script>
        const toggleButton = document.getElementById('toggleForm');
        const form = document.getElementById('formulario');
        const nomeInput = document.getElementById('nome');
        const urlInput = document.getElementById('url');
        const miniaturaInput = document.getElementById('miniatura');
        const nomeError = document.getElementById('nomeError');
        const urlError = document.getElementById('urlError');
        const miniaturaError = document.getElementById('miniaturaError');

        let isLooping = false;
        let loopStartTime = 0;
        let loopEndTime = 0;

        function toggleTimeLoop(startTime, endTime) {
            if (!isLooping || (loopStartTime !== startTime && loopEndTime !== endTime)) {
                startLoop(startTime, endTime);
            } else {
                stopLoop();
            }
        }

        function startLoop(startTime, endTime) {
            const video = document.getElementById('videoElement');
            loopStartTime = timeToSeconds(startTime);
            loopEndTime = timeToSeconds(endTime);
            video.currentTime = loopStartTime;
            isLooping = true;
            video.addEventListener('timeupdate', repeatDuringLoop);
        }

        function stopLoop() {
            const video = document.getElementById('videoElement');
            isLooping = false;
            video.removeEventListener('timeupdate', repeatDuringLoop);
        }

        function repeatDuringLoop() {
            const video = document.getElementById('videoElement');
            if (video.currentTime >= loopEndTime) {
                video.currentTime = loopStartTime;
            }
        }

        function timeToSeconds(time) {
            const [hours, minutes, seconds] = time.split(':').map(Number);
            return hours * 3600 + minutes * 60 + seconds;
        }

        function addTimeLoop(itemId) {
            const popup = document.getElementById('editPopup');
            popup.innerHTML = `
            <h2>Adicionar Loop de Tempo</h2>
            <form action="/addloop/${itemId}" method="post">
                <label for="inicio">Tempo de Início (HH:MM:SS)</label><br>
                <input type="text" id="inicio" name="inicio" placeholder="00:00:00"><br>
                <label for="fim">Tempo de Fim (HH:MM:SS)</label><br>
                <input type="text" id="fim" name="fim" placeholder="00:00:00"><br>
                <button type="submit">Adicionar</button>
                <button type="button" onclick="closeLoopPopup()">Cancelar</button>
            </form>
        `;
            popup.style.display = 'block';
        }

        function closeLoopPopup() {
            document.getElementById('editPopup').style.display = 'none';
        }

        function playVideo(videoUrl) {
            const videoElement = document.getElementById('videoElement');
            videoElement.src = videoUrl;
            document.getElementById('videoPlayer').style.display = 'block';
            videoElement.focus()
        }

        toggleButton.addEventListener('click', function () {
            if (form.classList.contains('hidden')) {
                form.classList.remove('hidden');
                toggleButton.textContent = 'Esconder Formulário';
            } else {
                form.classList.add('hidden');
                toggleButton.textContent = 'Mostrar Formulário';
            }
        });

        function validateForm() {
            let isValid = true;

            // Validar nome
            if (nomeInput.value.length < 4) {
                nomeError.textContent = 'O nome deve ter pelo menos 4 letras.';
                isValid = false;
            } else {
                nomeError.textContent = '';
            }

            // Validar URL do vídeo
            if (!urlInput.value.startsWith('https://')) {
                urlError.textContent = 'O URL do vídeo deve começar com "https://".';
                isValid = false;
            } else {
                urlError.textContent = '';
            }

            // Validar link da miniatura
            if (!miniaturaInput.value.startsWith('https://')) {
                miniaturaError.textContent = 'O link da miniatura deve começar com "https://".';
                isValid = false;
            } else {
                miniaturaError.textContent = '';
            }

            return isValid;
        }

        function editItem(itemId, itemName, itemUrl, itemMiniatura) {
            const popup = document.getElementById('editPopup');
            popup.innerHTML = `
            <h2>Editar Item</h2>
            <form action="/editar/${itemId}" method="post">
                <label for="nome">Nome:</label><br>
                <input type="text" id="nome" name="nome" value="${itemName}"><br>
                <label for="url">URL do vídeo:</label><br>
                <input type="text" id="url" name="url" value="${itemUrl}"><br>
                <label for="miniatura">Link da Miniatura:</label><br>
                <input type="text" id="miniatura" name="miniatura" value="${itemMiniatura}"><br>
                <button type="submit">Salvar</button>
                <button type="button" onclick="closePopup()">Cancelar</button>
            </form>
        `;
            popup.style.display = 'block';
        }

        function closePopup() {
            document.getElementById('editPopup').style.display = 'none';
        }

        function deleteItem(itemId) {
            if (confirm('Tem certeza que deseja excluir este item?')) {
                window.location.href = '/deletar/' + itemId;
            }
        }
    </script>
</body>

</html>